# List

In [20]:
# List is a collection of items (strings, integers, or even other lists) enclosed in [ ] 
empty_list = []    # Creates an empty list 'empty_list'
lst1 = ['one', 'two', 'three']    # List of strings
lst2 = [4, 5]    # List of Integers
lst3 = [[6,7],[8,9]]    # List of lists
lst4 = []    # Empty list
print(len(lst4))    # Prints the number of elements present in list 'lst4'

0

### length

In [21]:
# return the length of list
lnth = len(lst4)
print(lnth)

0

### append

In [22]:
# lst1.append(lst2) : adds list2 to list1
lst4.append(lst1)
print(lst4)

[['one', 'two', 'three']]

In [23]:
lst4.append(lst2)
print(lst4)

[['one', 'two', 'three'], [4, 5]]

In [24]:
lst4.append(lst3)
print(lst4)

[['one', 'two', 'three'], [4, 5], [[6, 7], [8, 9]]]

### insert

In [25]:
# lst.insert(a,b) : add element b at index a thus the number of elements increases by 1
lst = ['one', 'two', 'four']
lst.insert(2, 'three')
print(lst)

['one', 'two', 'three', 'four']

### remove

In [30]:
# lst.remove(a) : removes first occurance of a present in 'lst' list
lst = ['one', 'two', 'three', 'four', 'two']
lst.remove('two')
print(lst)

['one', 'three', 'four', 'two']

### extend

In [ ]:
# lst1.extend(lst2) : adds elements of lst2 to lst1

lst1 = ['one', 'two', 'three']
lst2 = ['four', 'five']

lst1.extend(lst2)
print(lst1)

### delete

In [ ]:
# del lst[a] : deletes item at index a
lst1 = ['one', 'two', 'three', 'four', 'five']
del lst1[1]
print(lst1)

### pop

In [35]:
# alternative to delete, lst.pop(1) also removes the element present at index 1
lst1 = ['one', 'two', 'three', 'four', 'five']
lst1.pop(1)
print(lst1)

['one', 'three', 'four', 'five']

### remove

In [37]:
# lst.remove(a) : removes element 'a' from the list 'lst'
lst1 = ['one', 'two', 'three', 'four']
lst1.remove('three')
print(lst1)

['one', 'two', 'four']

### reverse

In [46]:
# lst.reverse() : reverses the list
lst1 = ['one', 'two', 'three', 'four', 'five']
lst1.reverse()
print(lst1)

['five', 'four', 'three', 'two', 'one']

### sorted

In [48]:
# sorted(lst) : returns sorted list, but the original list remain unchanged

lst1 = ['one', 'two', 'three', 'four']
print('Sorted: ',sorted(lst1))    # it will print after sorting alphabetically
print('Original: ', lst1)

Sorted:  ['four', 'one', 'three', 'two']
Original:  ['one', 'two', 'three', 'four']

In [49]:
# sorted(list_name, reverse=True) takes an optional argument 'reverse' which has a default value 'false'
lst2 = [3,4, 2, 1, 5]
print('Sorted: ', sorted(lst2))
print('Sorted in reverse order: ', sorted(lst2, reverse = True))
print('Original', lst2)

Sorted:  [1, 2, 3, 4, 5]
Sorted in reverse order:  [5, 4, 3, 2, 1]
Original [3, 4, 2, 1, 5]

## Keywords related to List

### in

In [40]:
# a in lst : returns true if a is present in 'lst'
lst = ['one', 'two', 'three']
if 'two' in lst:
    print("two is present in list \'lst'")
else:
          print("two is not present in list \'lst'")

two is present in list 'lst'

### not

In [45]:
# a not in lst : returns true if a is not present in the list 'lst'
lst = [1,2,3,4,5]
if 9 not in lst:
    print('true')
else:
          print('false')

true

### List having multiple references

In [9]:
lst1 = [1,2,3]
lst2 = lst1
lst2.append(4)    # modifies lst1 as well
print(lst1)
print(lst2)

[1, 2, 3, 4]
[1, 2, 3, 4]

### Split string

In [10]:
str1 = "one,two,three,four,five"
str1_lst = str1.split(',')    # creates a list of strings after splitting the string where ',' comes
print(str1_lst)

['one', 'two', 'three', 'four', 'five']

### List Indexing

In [11]:
# Indexing: Accesing elements of a list or any container using it's index
lst = [1,2,3,4,5]
print(lst[2])  # Print the element present at index 2 (i.e., the element at 3rd position as python follows 0 based indexing)
print(lst[-1]) # Print element present at 1st position from last

3
5

### List slicing

In [14]:
# slicing a list means accessing a segment of list
num = [1,2,3,4,5]
print(num[:])    # Print the elements from the start to the end
print(num[0:4])  # Print the elements from 1st element to 4th element
print(num[::2])  # Print alternate elements from start to end 
print(num[2::2]) # Print alternate elements starting from 2nd index

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 3, 5]
[3, 5]

### Extending List using +

In [15]:
lst1 = [1,2,3]
lst2 = ['Aditya', 'Anand', 'Sanskrit']
lst3 = lst1+lst2  # adds elements of lst1 and lst2 to lst3
print(lst3)

[1, 2, 3, 'Aditya', 'Anand', 'Sanskrit']

### count

In [19]:
# lst.count(x) : returns the frequency of element 'x' in list 'lst'
lst = ['Ram', 'Shyam', 'Ghanshyam', 'Ram']
print('Ram: ',lst.count('Ram'))
print('Shyam: ',lst.count('Shyam'))

Ram:  2
Shyam:  1

### List Traversal

In [20]:
# Traversing : process of passing across, over, or through
lst = ['Binod', 'Gajodhar', 'Mohan', 'Guddu']
for x in lst: # Access the elements successively
    print(x)

Binod
Gajodhar
Mohan
Guddu

### List Comprehension

In [36]:
# A succinct way to create lists based on certain conditions
# range(start, stop, step) function return a range of elements, where start and step is optional and stop is not included
# range(5) returns 0,1,2,3,4
table2 = [ 2*x for x in range(1, 11)]
print(table2)
lst =[ele for ele in range(5)]
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 1, 2, 3, 4]

In [40]:
# filter the list
lst = [-1,2,53,4,-5,6,73,8,-9,10,-81,12,13,-41,15]
lst_of_non_negative = [ele for ele in lst if ele>=0]
print(lst_of_non_negative)

[2, 53, 4, 6, 73, 8, 10, 12, 13, 15]

In [46]:
# create a list of tuples
lst = [x for x in range(1,11)]
print(lst)
sqr_lst = [(x, x**2) for x in lst]
print(sqr_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

### Nested List Comprehensions